.App {
  display: grid;
  grid-template-columns: 320px 500px;
}

.conversationList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.conversation {
  background-color: #eee;
  width: 319px;
  height: 100px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 150px 170px;
  align-items: center;
}

.avatar {
  grid-column: 1;
  grid-row: 1 / 2;
  height: 70px;
  border-radius: 50px;
  margin: auto;
}

.conversationPreview {
  display: grid;
  grid-template-rows: 50px 50px;
  align-items: center;
  justify-content: start;
}

.displayName, .displayText {
  margin: 0;
}

.newConvoBtn {
  grid-column: 1;
  margin: 0;
  padding: 5px;
}

.messageBlue {
  background-color: #a5bee6;
  border: 1px solid #eee;
  border-radius: 5px;
}

.messageGreen {
  background-color: #8ccf8e;
  border: 1px solid #eee;
  border-radius: 5px;
}